/* 用来隐藏一些初始化前的Vue元素 */
[v-cloak] { display: none; }


.g-link {
	transition-duration: 0.3s;
	transition-property: color;
	color: #09c;
}
.g-link:hover { color: #f91; }


@font-face {
	font-family: "iconfont";
	src: url('./iconfont/iconfont.woff') format('woff'),
		url('./iconfont/iconfont.ttf?t=1542276950462') format('truetype');
}

.g-iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* 清浮动 */
.g-clearfix:after {
	display: block;
	overflow: hidden;
	clear: both;
	height: 0;
	visibility: hidden;
	content: '.';
}


/* 两端对齐 */
.g-justify-align {
	text-align: justify;
	font-size: 0;
}
.g-justify-align:after {
	width: 100%;
	height: 0;
	margin: 0;
	display: inline-block;
	overflow: hidden;
	content: '';
}
.g-justify-align>* {
	vertical-align: top;
	display: inline-block;
}


/* 单行文本，如有超出则以省略号结尾 */
.g-singleline-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


/* 渐现 */
@keyframes k-fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
.g-fade-in {
	animation-name: k-fade-in;
	animation-duration: 0.35s;
}


.g-datatable {
	width: 100%;
	border-collapse: collapse;
}
.g-datatable th,
.g-datatable td {
	border: 1px solid #e0e0e0;
	padding: 10px;
	word-break: break-all;
	word-wrap: break-word;
}
.g-datatable th { background: #f1f1f1; }


/* 删除数据链接 */
.g-delete {
	cursor: pointer;
	color: #fd4f45 !important;
}


/* 表单布局 */
.g-form__title {
	margin-bottom: 8px;
	padding: 0 6px 6px 10px;
	border-bottom: 1px dotted #ccc;
	font-size: 18px;
}
.g-form__row {
	display: flex;
	margin: 18px 0 0 10px;

	&:first-child {
		margin-top: 0;
	}
}
.g-form__row-button {
	margin-top: 36px;
}
.g-form__row__col {
	flex: 1;
	margin-right: 40px;

	&:last-child { margin-right: 0; }
}


.g-form-item__label {
	height: 26px;
	line-height: 26px;
	margin-bottom: 5px;
	overflow: hidden;
	font-weight: bold;

	.g-required {
		margin-left: 0.5em;
		font-weight: normal;
	}
}
.g-form-item__body {
	display: flex;
}
.g-form-item__body__side {
	width: 30px;
	text-align: center;
}


.g-required {
	font-style: normal;
	font-size: 18px;
	font-family: arial;
	font-weight: bold;
	color: #fd4f45;
}

.g-tips {
	font-style: italic;
	font-size: 14px;
	color: #aaa;
}




/* 表单控件 */
.g-textbox,
.g-selectbox {
	width: 100%;
	height: 2.5em;
	margin: 0;
	padding: 2px 8px;
	border-radius: 3px;
	border: 1px solid #d8d8d8;
	background: #f8f8f8;
	box-sizing: border-box;
	transition: border-color 0.6s, background 0.6s;
	font-size: 16px;
}
.g-textbox { resize: none; }
.g-textbox:focus {
	border-color: #7eb4ea;
	background: #fdfdfd;
}
textarea.g-textbox {
	height: auto;
	padding-top: 9px;
	padding-bottom: 9px;
}


.g-selectbox {
	padding-left: 0;
	padding-right: 0;
	vertical-align: middle;
}

.g-radio-list { margin: 0 0 0 5px; }
.g-radio-list li { margin: 7px 0; }
.g-radio-list-inline { line-height: 36px; }
.g-radio-list-inline li {
	display: inline-block;
	margin: 0 1em 0 0;
	vertical-align: middle;
}
.g-radio-list-inline li:last-child {
	margin-right: 0;
}

.g-button {
	padding: 0.5em 1.5em;
	border: 1px solid #acacac;
	border-radius: 3px;
	background: #eaeaea;
	font-family: inherit;
	font-size: 16px;
	cursor: pointer;
	color: #000;
	transition-duration: 0.4s;
}
.g-button:hover {
	background: #e7f1fc;
	border-color: #7eb4ea;
}